@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --background-color: #121229;
    --lighter-background-color: #343449;
    --highlight-color: #00aede;


    --text-color: white;
    --header-font: 'Montserrat', sans-serif;
    --text-font: 'Montserrat', sans-serif;
    --header-font-weight: 300;

    --card-corner-radius: 2px;
}

body {
    background-color: var(--background-color);
}

h1 {
    color: var(--text-color);
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 0px 25px var(--highlight-color), 0px 0px 15px var(--highlight-color), 0px 0px 5px white;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    /*-webkit-box-reflect: below -20px linear-gradient(to top, rgba(0, 0, 0, .35), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);*/
}


h2 {
    color: var(--text-color);
    font-size: 32px;
    margin: 5px 0px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 0px 25px var(--highlight-color), 0px 0px 15px var(--highlight-color), 0px 0px 5px white;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
}

@media screen and (max-width: 449px) { .card-table { width: 100% } }
@media screen and (min-width: 650px) and (max-width: 1299px) { .card-table { width: 650px; } }
@media screen and (min-width: 1300px) and (max-width: 1949px) { .card-table { width: 1300px;  } }
@media screen and (min-width: 1950px) and (max-width: 2599px) { .card-table { width: 1950px; } }
.card-table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    margin: auto;
}

.card {
    position: relative;
    flex-basis: 600px;
    margin: 25px;
    width: 600px;
    height: 388px;
    /*aspect-ratio: 3/2;*/
    border-radius: var(--card-corner-radius);
    /*background-color: var(--lighter-background-color);*/
    padding: 0px;
    /*-webkit-box-reflect: below 5px linear-gradient(to top, rgba(0, 0, 0, .35), rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0) 10%);*/
}
.card:hover {
    animation-name: cardHoverAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes cardHoverAnimation {
    from {
        box-shadow: 0px 0px 0px var(--highlight-color);    
        top: 0px;
    }
    to {
        box-shadow: 0px 0px 15px var(--highlight-color);    
        top: -10px;
    }
  }

.card > table {
    width: 100%;
    border-radius: var(--card-corner-radius);
    height: 100%;
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;

}

.card video {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    border-radius: 0px 0px var(--card-corner-radius) var(--card-corner-radius);
}

.card table img {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    border-radius: 0px 0px var(--card-corner-radius) var(--card-corner-radius);
}

.card-header {
    background-color: var(--lighter-background-color);
    border-radius: var(--card-corner-radius) var(--card-corner-radius) 0px 0px;
    height: 40px;
}

.info {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    right: 0px;
    border-radius: 0px 0px 5px 5px;
    background-color: var(--lighter-background-color);
    text-align: center;
    vertical-align: middle;
    font-size: 42px;
    color: var(--text-color);
}

.info:hover {
    background-color: white;
    color: var(--lighter-background-color);
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: contrast(50%) blur(5px) brightness(20%);
    transition: all 1s ease-in-out;
    z-index: 1;
}
  
.popup {
    background-color: var(--lighter-background-color);
    color: var(--text-color);
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    padding: 20px 20px 10px 20px;
    border-radius: var(--card-corner-radius);
    font-family: var(--text-font);
    transition: all 500ms ease-in-out;
    z-index: 1;
  }
  
.popup h2 
{
    margin-top: 0;
    text-align: left;
    margin-right: 80px;
}

.popup .close 
{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-font);
}

.popup .close:hover 
{
    color: var(--highlight-color);
}

.popup .content 
{
    max-height: 30%;
    overflow: auto;
}

.icons 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.technology {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.technology-icon {
    margin: 10px 0px 0px 0px;
    height: 32px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.link-icon {
    margin: 10px 0px 0px 0px;
    height: 32px;
}
  
@media screen and (max-width: 700px){
    .popup
    {
        width: 70%;
    }
}

.gallery {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    right: 55px;
    background-color: var(--lighter-background-color);
    border-radius: 0px 0px 5px 5px;
}

.gallery:hover {
    background-color: var(--text-color);
}

.gallery > svg {
    position: absolute;
    left: 0px;
    top: 0px;
    stroke-width: 0.5;
    fill: var(--text-color);
    stroke: var(--text-color);
}

.gallery:hover > svg {
    fill: var(--lighter-background-color);
    stroke: var(--lighter-background-color);
}

.gallery-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.gallery-modal {
    display: none;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
  
  /* Modal Content */
.gallery-content {
    position: relative;
    top: 5vh;
    margin: auto;
    padding: 0;
    width: 90vw;
    height: 90vh;
    background-color: #222222;
}
  
  /* The Close Button */
.gallery-close {
    color: white;
    position: absolute;
    top: 6px;
    right: 0px;
    padding-right: 16px;
    margin: 0px;
    font-size: 35px;
    font-weight: bold;
}
  
.gallery-close:hover,
.gallery-close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
  /* Hide the slides by default */
.gallery-item {
    display: none;
    height: 100%;
    overflow: hidden; 
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(100, 100, 100, 0.8);
}

/* Position the "next button" to the right */
.next {
    right: 0%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(50, 50, 50, 0.8);
}